body{
    margin: 0px;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.p-5{
    padding: 10%;
}

nav {
    color: #fff;
    margin: none;
    height:90px;
  }

  .gradiat{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }

  .mnav{
    display: flex;
    justify-content: space-between;
  }

  h1{
    margin: 1% 2%;
  }

  .imgboton{
    width: 40px;
    height: 40px;

  }

  .ancla{
    color: #fff;
    text-decoration: none;
  }

  .centrartex{
    text-align: center;
  }

  button{
    margin: 3px 10%;
    border: none;  
    background-color: transparent;

  }



  

