body{
    margin: 0px;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: #DFF8C3;
}

.p-5{
    padding: 10%;

}

nav {
    color: #fff;
    margin: none;
    height:90px;
    margin-bottom: 90px;
  }

  .gradiat{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }

  .mnav{
    display: flex;
    justify-content: space-between;
  }

  .encabezado_img{
    background-image: url(img/img_01.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:azure;
  }
  .encabezado_img h2{
    font-size: 30px;
    text-shadow: 0 0 10px blue, 0 0 15px blue;
    }

  h1{
    margin: 1% 2%;
  }

  .imgboton{
    width: 40px;
    height: 40px;

  }

  .ancla{
    color: #fff;
    text-decoration: none;
  }

  .centrartex{
    text-align: center;
  }

  button{
    margin: 3px 10%;
    border: none;  
    background-color: transparent;
  }
  .grafic{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin:auto;
  }
  img{
    width: 75%;
    
  }