body{
    margin: 0px;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.p-5{
    padding: 10%;
}

nav {
    display: flex;
    color: #fff;
    background:#111221;
    margin: none;
    height:50px; 
  }

  .mnav{
    display: flex;
    justify-content: space-between; 
  }

  h1{
    padding: 1%;
  }


